/* 모든 요소 박스 모델 통일 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 브라우저 기본 여백 제거 + 배경 지정 */
body {
  margin: 0;
  background-color: #ffffff;
  font-family: "Noto Sans KR", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  color: #111827;
}


/* root가 전체 페이지를 차지하도록 */
#root {
  min-height: 100vh;
}

/* 링크 기본 스타일 */
a {
  text-decoration: none;
  color: inherit;
}

/* 버튼 기본 초기화 (우리는 컴포넌트에서 스타일 입힐 거니까) */
button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
}
